@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #eefcf1;
  --color-green-100: #d9f7e0;
  --color-green-200: #b4eec2;
  --color-green-300: #83e29a;
  --color-green-400: #49d56b;
  --color-green-500: #28b44a;
  --color-green-600: #20973d;
  --color-green-700: #197b31;
  --color-green-800: #135e25;
  --color-green-900: #0d4019;
  --color-green-950: #08260f;
}
